*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}
body{
    width: 100vw;
    background: url(https://bostami.netlify.app/images/background.jpg);
    height: 100vh;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.whole{ 
    width: 80%;
    height: 100%;
    /* background-color: aqua;   */
}
.header{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.header img{
    width: 10%;
}
.subject{
    /* height: 20px; */
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Quicksand', sans-serif;   
}
.subject button{
    width: 90px;
    padding: 14px;
    border-radius: 20px;
    border-style: none;
    color: black;
    font-family: 'Roboto', sans-serif;
    transition: 3s;
}
.subject a{
    width: 110 px;
    text-decoration: none;
    color: black;
}
.subject h3{
    width: 115px;
    background-color: white;
    padding: 10px;
    transition: 0.25s;
    /* text-decoration: overline; */
    border-radius: 10px;
    box-shadow: 0px 0px 5px black;
}   
.subject h3:hover{
    background: linear-gradient(90deg,#f95053,#de2774 );
}
.moon button{
    width: 50px;
    transition: 1s;
    border-radius: 100%;
}
.moon button:hover{
    background: linear-gradient(90deg,#f95053,#de2774 );
}
.content{
    background-color: aliceblue;
    width: 100%;
    height: 100%;
    padding-top: 50px;
    padding-left: 50px;
    border-radius: 15px;
}
.aboutme {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.aboutme h1{
    width: 250px;
    /* background-color: antiquewhite; */
    font-family: 'Quicksand', sans-serif;
    font-size: 55px;
}
.aboutme p{
    margin-left: 10px;
    width: 250px;
    height: 5px;
    background: linear-gradient(90deg,#f95053,#de2774 );
}
.pic{
    /* background-color: cadetblue; */
    width: 100%;
    height: 60%;
    margin-top: 20px;
    display: flex;
    align-items: safe;
    justify-content: flex;
}
.pic img{
    width: 30%;
    margin-right: 50px;
}
.whoami{
    width: 700%;
    margin-left: 0px;
    /* background-color: blue; */
    display: flex;
    align-items: flex-start;
    font-size: 20px;
    flex-direction: column;
}
.personal{
    /* background-color: azure; */
    width: 100%;
    height: 12%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 20px;
}
.grid{
    width: 100%;
    height: 80%;
    /* background-color: violet; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px;
}
.box2 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    display: grid;
    /* background-color: aqua; */
    grid-template-columns: repeat(3,2fr);
    grid-gap: 30px;
    align-items: center;
    justify-content: center;
}
.skill1{
    width: auto;
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: blue;
    padding: 20px;
    border-radius: 30px;
    font-size: x-large;
}
.skill2{
    width: auto;
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: blue;
    padding: 20px;
    font-size: x-large;
    border-radius: 30px;
}
.skill3{
    width: auto;
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: blue;
    padding: 20px;
    border-radius: 30px;
    font-size: x-large;
}
.skill4{
    width: auto;
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: blue;
    padding: 20px;
    border-radius: 30px;
    font-size: x-large;
}
.skill5{
    width: auto;
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: blue;
    padding: 20px;
    border-radius: 30px;
    font-size: x-large;
}
.skill6{
    width: auto;
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: blue;
    padding: 20px;
    border-radius: 30px;
    font-size: x-large;
}