*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    background: url(https://bostami.netlify.app/images/background.jpg);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Quicksand', sans-serif;
}
.whole{
    width: 85%;
    height: 95%;
    /* background-color: #f95053; */
}
.header{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    /* background-color: #f95053; */
}
.header img{
    width: 10%;
}
.subject{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Quicksand', sans-serif;   
}
.subject a{
    width:  100px;
    text-decoration: none;
    color: black;
}
.subject button{
    width: 110px;
    padding: 14px;
    border-radius: 20px;
    border-style: none;
    color: black;
    font-family: 'Roboto', sans-serif;
    transition: 3s;
}
.subject h3{
    background-color: aliceblue;
    padding: 10px;
    transition: 1s;
    border-radius: 10px;
}
.subject h3:hover{
    background-color: #de2774;
}
.moon button{
     width: 50px;
    padding: 14px;
    border-radius: 100%;
    border-style: none;
    color: black;
    font-family: 'Roboto', sans-serif;
    transition: 3s;
}
.moon button:hover{
    background: linear-gradient(90deg,#f95053,#de2774 );
}
.content{
    background-color: aliceblue;
    width: 100%;
    height: 100%;
}
